body {
  padding-top: 5rem;
}
.starter-template {
  margin-top: 50px;
  padding: 3rem 1.5rem;
  text-align: left;
}

.card {
  margin-top: 20px;
}

.agregar-curso, .agregar-clase  {
  text-align: center;
  margin-top: 20px;
}
